# Ignore everything in the data folder
data/*

# Ignore everything in the doc folder
doc/*

# Ignore everything in the notebooks folder
notebooks/*
!notebooks/basic-tour.ipynb
!notebooks/advanced-tour.ipynb

# Ignore files with .html extension
*.html
